@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');


:root{
    --primary-color: #FCD34D;
    --width-break:600px;
}
header{
    background-color: var(--primary-color);
    margin: 0;
    padding: 1rem;
    max-width: 1600px;
   
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
    font-family: 'Heebo', sans-serif;
    

    
}

    
body{
    background-image: url(images/minions.jpg);
    width: 100%;
    height: auto;
    margin: 0rem;

}
.heading{
    text-align: center;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
   
}
 .hero{
     margin-top: 0rem;
 }
 button {
    background-color: #BFDBFE;
    border: none;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
 }

 .footer {
    background-color: var(--primary-color);
    padding: 2rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

}
.footer .link {
    color: #7C3AED;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}
.footer .footer-header{
    font-weight: bold;
    font-size: x-large;
    color: black;
    text-align: center;
}

.list-item-inline {
    display: inline;
    padding: 2rem;
   
}